body {
  background-image: radial-gradient(circle, #fffa05, #ffd87d, #ffd5db, #ffebff, #fbfbfb);
  font-family: arial;
  /* text-align: center; */
  margin: 10%;
  padding: 20px;
}

h1{
  text-align: center;
  font-style: bold;
  font-weight: 1100;
  color: rgb(129, 0, 129);
}

.post1 {
  margin-top:20px;
  border-color: gold;
  border-style: double;
  margin-bottom: 20px;
}

.post2 {
  margin-top:20px;
  margin-bottom: 20px;
  border-color: purple;
  border-style: double;

}

.post3 {
  margin-top:20px;
  margin-bottom: 20px;
  border-color: blue;
  border-style: double;

}

.about {
  font-style: italic;
}